.header {
    display: flex;
    justify-content: center;
    flex:1;
    
    
}
img {
    width: 250px;
    height: 250px;
}
.top {
    display: flex;
    
}
.left {
    
    max-width: 250px;
    min-width: 250px;
}